<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/main.bundle.css">
  <meta name="theme-color" content="#eb4481">
  <meta name="description" content="I'm a dude, he's a dude, she's a dude, we're all dudes.">
  <link rel="icon" href="/favicon.ico">
  <title>{{ title }}</title>
  {% block head %}{% endblock %}
</head>
<body hx-boost="true" class="min-h-screen bg-gradient-to-br from-fuchsia-400 to-cyan-400">
  {% block body %}
    {{ content | safe }}
  {% endblock %}
</body>
</html>
