---
import Layout from '../layouts/Layout.astro';
---

<Layout title="These pretzels are making me thirsty">
  <span class="sr-only">404, page not found.</span>
<div class="h-screen w-screen bg-[url('/bomber.webp')] bg-cover bg-right"></div>
</Layout>