<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <title>Document</title>
</head>
<body class="bg-gray-100">
  <style>
    @keyframes standing {
      0% { background-position: 0 0; }
      25% { background-position: -42px 0; }
      50% { background-position: -84px 0; }
      75% { background-position: -42px 0; }
      100% { background-position: 0 0 }
    }

    @keyframes walking {
      0% { background-position: 0 0; }
      16.66% { background-position: -45px 0; }
      33.33% { background-position: -90px 0; }
      50% { background-position: -135px 0; }
      66.66% { background-position: -180px 0; }
      83.33% { background-position: -225px 0; }
      100% { background-position: 0 0; }
    }

    @keyframes punch {
      0% { background-position: 0 0; }
      12.5% { background-position: -100px 0; }
      25% { background-position: -200px 0; }
      37.5% { background-position: -300px 0; }
      50% { background-position: -400px 0; }
      62.5% { background-position: -500px 0; }
      75% { background-position: -600px 0; }
      87.5% { background-position: -700px 0; }
      100% { background-position: 0 0; }
    }

    @keyframes punch2 {
      0% { background-position: 0 0; }
      12.5% { background-position: -100px 0; transform: translateX(-25px); }
      25% { background-position: -200px 0; transform: translateX(-50px); }
      37.5% { background-position: -300px 0; transform: translateX(-50px); }
      50% { background-position: -400px 0; transform: translateX(-75px); }
      62.5% { background-position: -500px 0; transform: translateX(-100px); }
      75% { background-position: -600px 0; transform: translateX(-100px); }
      87.5% { background-position: -700px 0; transform: translateX(-100px); }
      100% { background-position: 0 0; }
    }

    .standing {
      animation: standing 800ms steps(3) infinite;
      animation-timing-function: steps(1);
    }

    .walking {
      animation: walking 1.2s infinite;
      animation-timing-function: steps(1);
    }

    .punch {
      animation: punch 1.2s infinite;
      animation-timing-function: steps(1);
      margin-left: -35px;
    }

    .right {
      transform: scaleX(-1);
    }
  </style>

  <div class="p-20 space-y-10">
    <div class="standing bg-no-repeat bg-[url(/standing.png)] h-[77px] w-[42px]"></div>
    <div class="walking bg-no-repeat bg-[url(/walking.png)] h-[80px] w-[45px]"></div>
    <div class="walking bg-no-repeat bg-[url(/walking.png)] h-[80px] w-[45px]"></div>
    <div class="punch bg-no-repeat bg-[url(/punch.png)] h-[103px] w-[100px]"></div>
  </div>
</body>
</html>