<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <title>Document</title>
</head>
<body>
  <style>
    @keyframes standing {
      0% { background-position: 0 0; width: 50px; }
      25% { background-position: -50px 0; width: 50px; }
      50% { background-position: -100px 0; width: 44px; }
      75% { background-position: -50px 0; width: 50px; }
      100% { background-position: 0 0; width: 50px }
    }

    @keyframes walking {
      0% { background-position: 0 0; width: 36px; }
      16.66% { background-position: -36px 0; width: 45px; }
      33.33% { background-position: -81px 0; width: 53px; }
      50% { background-position: -134px 0; width: 40px; }
      66.66% { background-position: -174px 0; width: 42px; }
      83.33% { background-position: -216px 0; width: 49px; }
      /* 70% { background-position: 0 0; width: 36px; } */
      100% { background-position: 0 0; width: 36px }
    }

    .standing {
      animation: standing 1s steps(3) infinite;
      animation-timing-function: steps(1);
    }

    .walking-left {
      animation: walking 1.6s infinite;
      animation-timing-function: steps(1);
    }

    .walking-right {
      transform: scaleX(-1);
      animation: walking 1.6s infinite;
      animation-timing-function: steps(1);
    }
  </style>

  <div class="p-20 flex justify-between w-full">
    <div class="standing bg-no-repeat bg-[url(/standing.png)] h-[77px]"></div>
    <div class="walking-left bg-no-repeat bg-[url(/walking.png)] h-[80px]"></div>
    <div class="walking-right bg-no-repeat bg-[url(/walking.png)] h-[80px]"></div>
  </div>
</body>
</html>