---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Grant Holle">
  <main class="relative flex pt-36 md:pt-0 md:items-center justify-center min-h-screen bg-gradient-to-br from-fuchsia-400 to-cyan-400 px-4">
    <div class="max-w-md mx-auto w-full relative z-10">
      <Card>
        <h1 class="text-3xl font-bold">hey.</h1>
        <p>My name is Grant. I think the internet is 💯 and I love to create for it. Not in the "destroy modern society with social media" sort of way. More like the "make my life or job easier" way.</p>
        <p>I've lived abroad for the last 9 years (7 in China, 2 in the UAE), but have recently made my way back to the US.</p>
        <p>I'm building <a href="https://www.archboard.io" target="_blank">Archboard</a>, an open source company whose applications make things easier for schools. I'm also helping build <a href="https://app.teachrn.com" target="_blank">TeachRN</a>, a nurse mentorship marketplace.</p>
        <p>Check out my <a href="https://github.com/grantholle" target="_blank">Github</a> or connect on <a href="https://www.linkedin.com/in/grant-holle/" target="_blank">LinkedIn</a>.</p>
        <p>Here are a few projects I'm proud of:</p>
        <ul class="list-disc pl-8">
          <li><a href="https://github.com/grantholle/moviedb-promise" target="_blank">moviedb-promise</a>, a TypeScript API wrapper for themoviedb.org.</li>
          <li><a href="https://github.com/grantholle/laravel-timezone" target="_blank">laravel-timezone</a>, a Laravel package with some helpful timezone tools.</li>
          <li><a href="https://github.com/grantholle/laravel-powerschool-auth" target="_blank">laravel-powerschool-auth</a>, a Laravel package to use with PowerSchool authentication.</li>
          <li><a href="https://github.com/grantholle/powerschool-api" target="_blank">powerschool-api</a>, an API wrapper and tool for PowerSchool's API.</li>
        </ul>
      </Card>
    </div>
  </main>
</Layout>

<style>
  a {
    @apply font-semibold text-fuchsia-600 hover:text-cyan-600 hover:underline transition;
  }
</style>